header {
  text-align: center;
  background-color: rgb(47,72,88);
  text-decoration-color: black;
  font-weight: bold;
  margin: auto;
}

h2 {
  text-align: center;
}
h4 {
  text-decoration: underline;
  text-decoration-color: green;
}

img{
float:left;
height: 124px;
width: 125px;
}

section {
  display: inline-block;
  float: right;
  width: 1066px;
  background-color:#faf8f8;
}

ul {
  list-style-type:none;
}

aside {
  display: inline-block;
  border-top:3px solid #9af184;
  background-color:#86bbd8;
  margin-bottom: 50%;
  height: 500px;
  width: 250px;
}
